body {
	text-align: center;
}

content {
	position: absolute;
	top: 10%;
	bottom: 10%;
	height: 80%;
	left: 20%;
	right: 20%;
	width: 60%;
	background-color: rgba(0,26,52,0.5);
	border: solid;
	border-radius: 20px;
}

h1 {
	text-transform: uppercase;
	font-family: 'Monoton', cursive;
	color: white;
	font-size: 96px;
	margin: 0.5em auto;
}

#guess {
	font-size: 36px;
	height: 10%;
	margin: 0 auto;
	border: solid;
	border-radius: 15px;
	padding: 20px;
}

#words {
	font-size: 36px;
	position: absolute;
	left: 10%;
	right: 10%;
	width: 80%;
	bottom: 10%;
	height: 35%;
	border-radius: 15px;
}

#hint {
	font-size: 60px;
	position: absolute;
	top: 40%;
	left: 10%;
	right: 10%;
	width: 80%;
}
